<section id="blog" class="px-1">
  <div class="container">
      <div class="row">
          <div class="col d-flex justify-content-center">
              <div class="card-columns">
                  <div class="card" style="width: 18rem;" *ngFor="let event of events" >
                    <div class="card-header bg-dark text-white">
                      <h3>{{event.title}}</h3>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{event.description}}</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Date: </strong>{{event.date}}</li>
                      <li class="list-group-item"><strong>Time: </strong>{{event.time}}</li>
                      <li class="list-group-item"><strong>Type: </strong>{{event.type}}</li>
                    </ul>
                    </div>
                    <div class = "card-footer">
                      <button type="button" class="btn btn-primary" (click)="openModal(template, event._id)">Volunteer List</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Volunteer list</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Participation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let volunteer of volunteers2; let i = index">
            <td>{{volunteer.firstname}} {{volunteer.lastname}}</td>
            <td>{{volunteer.email}}</td>
            <td *ngIf="volunteers[i].participation == true;else other_content">Confirmed</td>
          <ng-template #other_content><button type="button" class="btn btn-primary" (click)="confirm([i])">Confirm Participation</button></ng-template>
        </tr>
        </tbody>
    </table>
    </div>
  </ng-template>
  
</section>